@import url(./styles-light.css);
@import url(./styles-dark.css) (prefers-color-scheme: dark);
img[alt=Stern] {
    width: 32%;
    box-shadow: none;
}

img[alt=Polygon] {
    width: 32%;
    box-shadow: none;
}

img[alt=Screenshot] {
    width: 48%;
    box-shadow: none;
}